body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 1.25;
  background-color: var(--body-bg);
  overflow-x: hidden;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.is-hidden {
  @media (1440px<=width) {
    overflow-y: scroll;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  overflow: hidden;
  padding: 64px 0;

  @media (768px<=width) {
    padding: 100px 0;
  }

  @media (1440px<=width) {
    padding: 140px 0;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;

  @media (360px<=width) {
    max-width: var(--mobile);
  }

  @media (768px<=width) {
    max-width: var(--tablet);
    padding: 0 32px;
  }

  @media (1440px<=width) {
    max-width: var(--desktop);
    padding: 0 112px;
  }
}

.btn-connect {
  border: none;
  cursor: pointer;
  width: 224px;
  height: 96px;
  color: var(--primary-text-color);
  background-color: white;
  background-image: url(../../images/common/button@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  filter: brightness(100%);
  -webkit-transition: -webkit-filter var(--transition-time) var(--transition-effect);
  transition: filter var(--transition-time) var(--transition-effect);
  color: var(--primary-text-color);
  background-position: center;
}

.btn-connect:hover {
  filter: saturate(50%);
}

@media (min-resolution: 2dppx) {
  .btn-connect {
    background-image: url(../../images/common/button@2x.png);
  }
}

@media (min-resolution: 3dppx) {
  .btn-connect {
    background-image: url(../../images/common/button@3x.png);
  }
}

.section-title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
  color: var(--primary-text-color);

  @media (768px<=width) {
    margin-bottom: 56px;
    font-size: 56px;
    line-height: 1.2;
  }

  @media (1440px<=width) {
    margin-bottom: 72px;
  }
}