:root {
  /* Colors */
  --primary-text-color: #292929;
  --accent-color: #dc3353;
  --hover-accent-color: #8f2135;
  --white-color: #ffffff;
  --error-color: #dc3353;
  --body-bg: #ffffff;
  --container-bg: #f0f2f5;
  --input-bg: #f0f2f5;
  --footer-bg: #292929;
  --scrollbar-thumb-bg: #292929;
  --scrollbar-track-bg: #ffffff;

  /* Breakpoints */
  --mobile: 360px;
  --mobile-max: 767.98px;
  --tablet: 768px;
  --table-max: 1439.98px;
  --desktop: 1440px;

  /* Transition properties */
  --transition-time: 250ms;
  --transition-effect: cubic-bezier(0.4, 0, 0.2, 1);

  /* Backdrop */
  --background-color: rgba(0, 0, 0, 0.6);

  /* Backdrop */
  --primary-font-family: "PlayfairDisplay", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
  --accent-font-family: "Hurricane";

  /* Height-constants */
  --header-height-small: 76px;
  --header-height-medium: 88px;
}
