@font-face {
  font-family: 'Hurricane';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Hurricane-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./PlayfairDisplay-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./Montserrat-SemiBold.ttf') format('truetype');
}