
.advice-title {
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.38;
    letter-spacing: 0.02em;
    max-width: 320px;
    text-transform: uppercase;
    margin-bottom: 32px;

    @media (768px <=width) {
        font-size: 56px;
        line-height: 1.23;
        letter-spacing: 0.02em;
        max-width: 704px;
        margin-bottom: 56px;
    }

    @media (width >=1440px) {
        max-width: 1072px;
        margin-bottom: 55px;
        margin-left: 155px;
    }

}

.advice-list {
    list-style-type: disc;
    width: 296px;
    margin-top: 32px;
    margin-left: 24px;

    @media (768px <=width) {
        width: 672px;
        margin-top: 56px;
        margin-left: 32px;
    }
    
    @media (width >=1440px) {
        width: 448px;
        margin-top: 0;
        margin-left: 104px;
        margin-top: 15px;
    }
}

.advice-item {
    margin-bottom: 24px;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;

    @media (768px <=width) {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.01em;
    }

    @media (width >=1440px) {
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.01em;
    }
}

.advice-list .advice-item::marker {
    color: #DC3353; 
}
  
.advice-border {
    @media (768px<=width) {
        padding-left: 32px;
        border-left: 1px solid #292929;
    }  
} 
    
.advice-img {
    @media (768px<=width) {
        max-width: 672px;
    }  
}

.advice-info{
    @media (1440px<=width) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
 