.formats-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formats-item {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formats-item-card {
  display: flex;
  flex-direction: column;
}

.formats-item-card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.formats-item-card-description {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.formats-item-card-band {
  display: block;
  border-top: 0.1px solid;
  width: 320px;
}

.formats-item-card-delimiter {
  color: rgba(41, 41, 41, 0.2);
}

.formats-item-card-button {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .formats-item:nth-child(2) .formats-item-card-title {
    text-align: center;
  }

  .formats-item-card {
    gap: 24px;
  }

  .formats-item-card-button {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .formats-list {
    gap: 56px;
  }

  .formats-item {
    flex-direction: row;
  }

  .formats-item-card {
    max-width: 432px;
  }

  .formats-item:nth-child(2) {
    flex-direction: row-reverse;
  }

  .formats-item-card-title {
    font-size: 28px;
    line-height: 129%;
    margin-bottom: 32px;
  }

  .formats-item-card-description {
    font-size: 18px;
    line-height: 156%;
  }

  .price {
    margin-bottom: 34px;
  }

  .formats-item-card-band {
    width: 432px;
    margin: 24px 0;
  }
}

@media screen and (min-width: 1440px) {
  .formats-container {
    width: 1296px;
  }

  .formats-list {
    gap: 72px;
  }

  .formats-item {
    gap: 136px;
  }

  .formats-item:nth-child(1),
  .formats-item:nth-child(3) {
    border-left: 1px solid black;
    padding-left: 32px;
  }

  .formats-item:nth-child(2) {
    border-right: 1px solid black;
    padding-right: 32px;
  }

  .formats-item-card {
    max-width: 488px;
  }

  .formats-item-card-description {
    font-size: 16px;
    line-height: 150%;
  }

  .price {
    margin-bottom: 66px;
  }

  .formats-item-card-band {
    width: 488px;
  }
}
