.header {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--primary-text-color);
  background: var(--white-color);
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  width: 100%;
  height: 76px;
}

.header.header-menu-open {
  background: rgb(240, 242, 245);
}

.logo {
  cursor: pointer;
}

.icon-logo {
  width: 150px;
  height: 44px;
}

.menu-button {
  border: 1px transparent;
  background: transparent;
  width: 32px;
  height: 32px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon-menu {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.header-menu-open .icon-menu {
  display: none;
  visibility: hidden;
}

.icon-menu-close {
  display: none;
  visibility: hidden;
  width: 14px;
  height: 14px;
}

.header-menu-open .icon-menu-close {
  visibility: visible;
  display: inline;
  cursor: pointer;
}

.menu-container {
  position: fixed;
  top: calc(1px + var(--header-height-small));
  left: 0;
  right: 0;
  display: none;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - var(--header-height-small));
  background: rgb(240, 242, 245);
  width: 100%;
}

.header-menu-open .menu-container {
  display: flex;
  visibility: visible;
}

.menu-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid var(--primary-text-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  flex: 1;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.menu-item {
  position: relative;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  padding-top: 24px;
  text-decoration: none;
  cursor: pointer;
}

.menu-item:hover::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: bottom 0.3s ease;
  bottom: 0;
  cursor: pointer;
}

.custom-select-small {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-decoration: none;
  margin-top: 48px;
  padding: 0;
  width: 70px;
  height: 24px;
}

.select-lang-btn {
  border: transparent;
  background: transparent;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  cursor: pointer;
}

.select-lang-btn-active {
  color: var(--accent-color);
}

.vertical-line {
  display: initial;
  color: #b5b4b4;
  height: 22px;
}

.menu-social {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  height: 64px;
  width: 100%;
  padding-top: 16px;
}

.icon-horisontal-line {
  display: none;
  visibility: hidden;
}

.menu-social-item {
  position: relative;
  /* flex: 1; */
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  cursor: pointer;
}

.menu-social-item:focus {
  background-color: var(--primary-text-color);
  cursor: pointer;
}

.menu-social-item:hover::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: bottom 0.3s ease;
  bottom: 0;
  cursor: pointer;
}

.custom-select {
  display: none;
  visibility: hidden;
  flex-direction: column;
  height: 24px;
  width: max-content;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-right: 20px;
}

.custom-select-open {
  overflow: inherit;
}

.custom-select-option {
  font-family: var(--primary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.55;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-decoration: none;
  height: 24px;
}

.custom-select-icon {
  position: absolute;
  top: 14px;
  right: 0;
  width: 10px;
  height: 5px;
  pointer-events: none;
}
.custom-select-option:hover {
  background: #f0f2f5;
}

/* ======= tablet styles ======= */

@media (768px<=width) {
  .menu-container {
    height: calc(100vh - var(--header-height-small));
  }

  .menu-content {
    border-bottom: none;
    box-shadow: none;
  }

  .menu-item {
    font-size: 28px;
    line-height: 1.28571;
    cursor: pointer;
  }

  .menu-social {
    justify-content: initial;
  }

  .icon-horisontal-line {
    display: flex;
    visibility: visible;
    align-items: center;
    flex: 1;
    margin-right: 20px;
  }

  .menu-social-item {
    width: 104px;
    height: 28px;
    font-size: 18px;
    line-height: 1.55556;
    font-weight: 400;
    letter-spacing: 0.01em;
    margin-right: 20px;
  }
}

/* ======= desctop styles ======= */

@media (1440px<=width) {
  .menu-container {
    position: initial;
    top: initial;
    left: initial;
    display: flex;
    visibility: initial;
    flex-direction: row;
    align-items: center;
    height: initial;
    background: initial;
    width: initial;
  }

  .menu-button {
    display: none;
    visibility: hidden;
  }

  .menu-content {
    flex-direction: row;
    border-bottom: initial;
    box-shadow: initial;
    flex: initial;
    width: initial;
  }

  .menu-nav {
    flex-direction: row;
    flex: initial;
    width: initial;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    font-size: 18px;
    line-height: 1.55556;
    margin-right: 48px;
  }

  .menu-social {
    display: none;
    visibility: hidden;
  }

  .icon-horisontal-line {
    display: none;
    visibility: hidden;
  }

  .custom-select-small {
    display: none;
    visibility: hidden;
  }

  .custom-select {
    display: flex;
    visibility: visible;
    max-width: 52px;
  }
}
