.hero-section {
  padding-top: 60px;
  padding-bottom: 0;

  @media (768px <=width) {
    padding-top: 68px;
  }

  @media (width >=1440px) {
    padding-top: 112px;
  }
}

.main-title {
  width: 1000px;
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-weight: 600;
  font-size: 104px;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  @media screen and (max-width: 359px) {
    width: 100%;
    font-size: 48px;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    width: 320px;
    font-size: 48px;
    line-height: 1.25;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 704px;
  }
}

.about-me-container {
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (max-width: 359px) {
    display: block;
    width: 100%;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: block;
    width: 320px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    display: block;
  }
}

.about-me {
  position: relative;
  width: 384px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin: 108px 0px 108px 100px;
  padding: 0;

  @media screen and (max-width: 359px) {
    width: 100%;
    font-size: 16px;
    margin: 20px 0px 0px 16px;
    padding: 0;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    width: 296px;
    font-size: 16px;
    margin: 32px 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin: 40px 32px;
  }
}

.about-me::before {
  content: "";
  position: absolute;
  border-color: var(--primary-text-color);
  border-style: solid;
  border-width: 1px;
  height: 100%;
  left: -32px;
}

@media screen and (max-width: 359px) {
  .about-me::before {
    left: -16px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .about-me::before {
    left: -24px;
  }
}

.btn-connect {
  font-family: var(--secondary-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  width: 224px;
  height: 96px;
  text-transform: uppercase;
  margin: 108px 60px;
  border: none;
  background: none;
  cursor: pointer;
  background-image: url(../../images/hero/Vector.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 359px) {
    width: auto;
    height: auto;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 26px 50px;
    margin: 20px 0px 20px 0px;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    margin: 32px 48px 40px 48px;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    margin: 40px 0px 40px 0px;
  }
}

.btn-connect:hover {
  background-image: url(../../images/hero/Vectorhover.png);
}

.photo {
  position: absolute;
  width: 384px;
  right: 0;
  bottom: 108px;
  z-index: -1;

  @media screen and (max-width: 359px) {
    display: none;
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    width: 256px;
    bottom: 40px;
  }
}

.menu-social {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  list-style-type: none;
}

@media screen and (max-width: 359px) {
  .menu-social {
    margin: 0;
    justify-content: space-between;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .menu-social {
    width: 320px;
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {}

.menu-social::before {
  content: "";
  position: absolute;
  border: 1px solid var(--primary-text-color);
  width: 100%;
  left: -400px;
  bottom: 13px;
}

@media screen and (max-width: 359px) {
  .menu-social::before {
    width: 112%;
    left: -20px;
    bottom: 34px;
  }
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .menu-social::before {
    width: 112%;
    left: -20px;
    bottom: 34px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu-social::before {
    width: 100%;
    left: -400px;
    bottom: 13px;
  }
}

.menu-social-item {
  font-family: var(--secondary-font-family);
  font-size: 18px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text-color);
  padding: 5px 0px;
  margin-left: 20px;

  @media screen and (max-width: 359px) {
    font-size:small ;
    width: auto;
    margin: 0;
    margin-right: 5px;
    justify-content: space-between;

    &:nth-last-of-type() {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 360px) and (max-width: 767px) {
    margin-left: 0;
    font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1439px) {
    font-size: 18px;
  }
}

.menu-social-item:hover {
  color: #FFFFFF;
  background-color: #292929;
  border-bottom: 1px solid #DC3353;
}