.mdl-box {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    backdrop-filter: blur(8px);
    background-color: var(--background-color);
}

.mdl-flex {
    display: flex;
    height: 100%;
    overflow-y: scroll;
    padding: 20px 0;

    @media (768px<=width) {
        padding: 32px 0;
    }
    @media (1440px<=width){
        padding: 54px 0;
    }
}
.mdl-forma {
    position: relative;
    background-color: var(--white-color);
    max-width: 320px;
    margin: auto;
    padding: 24px;

    @media (768px<=width) {
        max-width: 704px;
        padding: 56px;
    }
    @media (1440px<=width) {
        max-width: 1208px;
        padding: 80px 100px;
    }
}
.mdl-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-items: center;

    @media (1440px<=width) {
        flex-direction: row;
        gap: 48px;
        align-items: start;
    }
}
.star {
    color: var(--accent-color);
}

#comment {
    padding: 12px 16px;
    max-width: 272px;
    max-height: 96px;
    background-color: var(--white-color);
}
.forma-for-connect {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}
/*  */
.error-input {
    display: none;
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: var(--accent-color);
}
.error-input.check {
    display: block;
}
.label-inpt {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;

    @media(768px<=width) {
        font-size: 18px;
        line-height: 156%;
    }
}
.title-form {
    font-family: var(--primary-font-family);
    margin: 0;
    font-weight: 600;
    font-size: 32px;
    line-height: 137%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
    @media(768px<=width) {
        font-weight: 600;
        font-size: 56px;
        line-height: 121%;
        width: 350px;
    }
    @media(1440px<=width) {
        font-weight: 600;
        font-size: 56px;
        height: 136px;
        width: 368px;
        line-height: 121%;
    }
}
.title-form + .paragraf-form {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    margin-top: 20px;
    margin-bottom: 32px;

    @media(768px<=width) {
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.01em;
        width: 592px;
        height: 56px;
    }
    @media(1440px<=width) {
        margin: 32px 0 0 0;
        width: 280px;
        height: 112px;
    }
}
.text-feedback {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    margin: 0;
    font-family: var(--secondary-font-family);

    @media(768px<=width) {
        width: 500px;
        height: 84px;
        margin: 0;
        font-size: 18px;
    }
    @media(1440px<=width) {
        width: 500px;
    }
}
.user-inpt,
.user-btn,
.user-textarea {
    padding: 12px 16px;
    width: 272px;
    font-family: var(--secondary-font-family);
    height: 48px;
    background-color: var(--input-bg);
    border: none;
    outline: none;
    color: var(--primary-text-color);

    @media(768px<=width) {
        padding: 12px 16px;
        width: 592px;
        height: 52px;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: 0.01em;
    }
}
.user-inpt::placeholder,
.user-btn::placeholder,
.user-textarea::placeholder {
    color: var( --primary-text-color);
    opacity: 0.4;
}

.new-select {
    position: relative;
}
/* select*/

  .user-btn {
    position: relative;
  }
  .list-item-select {
    display: none;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 55px;

    @media(768px<=width) {
        height: 156px;
        top: 60px;
    }
  }
.list-item-select-visible {
    display: block;
}
  .first-item-list {
    text-align: start;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--text-color-select);
    position: relative;
  }
  .first-item-list-active {
    color: var(--primary-text-color);
}
  .user-btn::before {
    content: "";
    position: absolute;
    right: 21px;
    top: 45%;
    display: block;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var( --primary-text-color) transparent;
    transform: rotate(180deg);
    pointer-events: none;
    z-index: 999;

    @media(768px<=width) {
        right: 23px;
    }
  }
  .list-item-select-opt {
    font-family: var(--secondary-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    border-bottom: 1px solid rgba(41, 41, 41, 0.1);
    padding: 12px 16px;
    height: 52px;
    background: var(--input-bg);

    @media(768px<=width) {
        font-size: 18px;
        line-height: 156%;
    }
  }
  .list-item-select-opt:hover {
    background-color: #e6e8eb;
    cursor: pointer;
  }

/*select */

.red {
    border: 2px solid var(--accent-color); 
}
.text-com {
    height: 96px;
    resize: none;

    @media(768px<=width) {
        height: 108px;
    }
}
.but-submit {
    margin: 0;
    font-size: 16px;
    width: 224px;
    height: 96px;

    @media(768px<=width) {
        font-size: 18px;
    }

    @media(1440px<=width) {
        width: 220px;
        height: 92px;
    }
}
.but-submit:hover {
    filter: grayscale(0.5);
}

.close {
    position: absolute;
    right: 21px;
    top: 21px;
    cursor: pointer;
}
.close:hover {
    fill: var(--accent-color);
}
.title-feedback {
    font-family: var(--accent-font-family);
    font-weight: 400;
    margin: 0;
    text-align: center;
    font-size: 52px;
    line-height: 85%;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    @media(768px<=width) {  
        font-size: 96px;
        line-height: 79%;
        letter-spacing: 0.02em;
    }
}
.box-feedback {
    flex-direction: column;
    gap: 24px;
    padding: 64px 24px;

    @media(768px<=width) {
        flex-direction: column;
        gap: 24px;
        padding: 64px;
    }
    @media(1440px<=width) {
        flex-direction: column;
        align-items: center;
        gap: 24px;
        padding: 64px;
    }
}
.form-feedback {
    padding: 0;

    @media(768px<=width) {
        padding: 0;
    }
}
