.quote-section {
    background-color: #F0F2F5;
    
}


.quote-card {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
}


.quote-text-accent {
    color: #DC3353;
    font-family: Hurricane;
    text-transform: none;
    font-size: 52px;
    letter-spacing: 0.02em;
    position: absolute;
    top: -60px;
    left: 2px;
    z-index: 2;
}
.quote-text {
    position: relative;
    font-family: Playfair Display;
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1.38;
    letter-spacing: 0.01em;
    max-width: 270px;
}

@media (768px<=width) {
    .quote-card {
        margin-top: 78px;
    }
    .quote-text-accent {
        font-size: 96px;
        letter-spacing: 0.02em;
        top: -104px;
        left: -20px;
        
    }

    .quote-text {
        font-size: 56px;
        line-height: 1.24;
        letter-spacing: -0.01em;
        max-width: 704px;
        margin-left: 0px;
    }
}

@media (1440px<=width) {
    .quote-card {
        margin-top: 74px;
    }

    .quote-text-accent {
        left: 180px;
    }
    
    .quote-text {
        letter-spacing: 0.01em;
        max-width: 1008px;
    }
}