/* workflow-styles */
.workflow-container {
  @media (1440px<=width) {
    max-width: 1296px;
  }
}
.workflow-content {
  @media (768px<=width) {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
  }

  @media (1440px<=width) {
    gap: 72px;
    padding-left: 32px;
    border-left: 1px solid var(--primary-text-color);
  }
}

.workflow-content-image {
  margin-bottom: 32px;
  @media (768px<=width) {
    margin-bottom: 0;
  }
}

.workflow-content-list {
  @media (768px<=width) {
    width: calc(100% - 288px - 32px);
  }
  @media (1440px<=width) {
    width: calc(100% - 488px - 72px);
  }
}

.workflow-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
  height: 100%;
}

.workflow-list-item {
  position: relative;
  padding-top: 32px;
  @media (768px<=width) {
    padding-top: 52px;
  }
}

.points-numbers {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--accent-font-family);
  font-weight: 400;
  font-size: 52px;
  line-height: 0.8;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);
  @media (768px<=width) {
    font-size: 96px;
    line-height: 0.79;
  }
  @media (1440px<=width) {
  }
}

.points-title {
  margin-bottom: 12px;
  padding-left: 52px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  @media (768px<=width) {
    margin-bottom: 16px;
    padding-left: 80px;
    font-size: 28px;
    line-height: 1.28;
  }
}

.points-list {
  padding-left: 52px;
  list-style: disc;
  @media (768px<=width) {
    padding-left: 80px;
    max-width: 400px;
  }
  @media (1440px<=width) {
    max-width: 422px;
  }
}

.points-list-item {
  margin-bottom: 8px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  @media (768px<=width) {
    font-size: 18px;
  }
}

.points-list-item:last-child {
  margin-bottom: 0;
}

.points-list-item::marker {
  color: var(--accent-color);
}
