<section id="about-me" class="section about-me-section">
  <div class="container">
    <div class="title-container">
      <p class="text-serif-about-me">Hello there!</p>
      <h2 data-lang="about-me.title" class="section-title title-about-me">
        Я альона — твій<br />
        вчитель англійської
      </h2>
    </div>
    <div class="container-not-title">
      <div class="container-text-about-me">
        <p data-lang="about-me.paragraph.bold" class="text-about-me bold">
          Сама того не розуміючи, я стала поліглотом.
        </p>
        <p data-lang="about-me.paragraph.textOne" class="text-about-me">
          Я сама постійно вивчаю мови і можу спілкуватися на шістьох з них.
          Саморозвиток – це те, що рухає мене вперед і допомагає віднаходити
          сенси. Я реалізовую потенціал свого розвитку, подорожуючи світом мови,
          і вчу робити це своїх студентів. Кожне слово, яке ви вивчаєте,
          відкриває двері до нових можливостей та перспектив.
        </p>
      </div>
      <div class="container-img-about-me">
        <picture>
          <source
            srcset="
              ./images/about-me/Alyona-des-1x.webp 1x,
              ./images/about-me/Alyona-des@2x.webp 2x
            "
            media="(min-width: 1440px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about-me/Alyona-des-1x.png 1x,
              ./images/about-me/Alyona-des@2x.png 2x
            "
            media="(min-width: 1440px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/about-me/Alyona-tab-1x.webp 1x,
              ./images/about-me/Alyona-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about-me/Alyona-tab-1x.png 1x,
              ./images/about-me/Alyona-tab@2x.png 2x
            "
            media="(min-width: 768px)"
            type="image/png"
          />
          <source
            srcset="
              ./images/about-me/Alyona-mob-1x.webp 1x,
              ./images/about-me/Alyona-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              ./images/about-me/Alyona-mob-1x.png 1x,
              ./images/about-me/Alyona-mob@2x.png 2x
            "
            media="(max-width: 767px)"
            type="image/png"
          />
          <img src="./images/about-me/Alyona-des-1x.png" alt="photo desc" />
        </picture>
      </div>
      <div class="container-text-about-me position-desc">
        <p data-lang="about-me.paragraph.textTwo" class="text-about-me">
          Саморозвиток через вивчення мови - це подорож у світ розширення
          горизонтів, розуміння власних можливостей і амбіцій, збільшення
          спроможності взаємодіяти з різними культурами. Відкрийте для себе нові
          світи через вивчення мови і перетворіть свій саморозвиток на незабутню
          подорож.
        </p>
      </div>
    </div>
  </div>
</section>
