<section class="section">
    <div class="container">
        <h2 class="advice-title">Щоб вивчення мови було цікавим та захоплюючим</h2>
        <div class="advice-info">
        <div class="advice-border">
            <picture class="advice-img">
                <source media="(min-width: 1440px)" srcset="../images/advice/photo@1xd.webp 1x, ../images/advice/photo@2xd.webp 2x" type="image/webp">
                <source media="(min-width: 768px)" srcset="../images/advice/photo@1xt.webp 1x, ../images/advice/photo@2xt.webp 2x" type="image/webp">
                <source media="(max-width: 767px)" srcset="../images/advice/photo@1xm.webp 1x, ../images/advice/photo@2xm.webp 2x" type="image/webp">

                <source media="(min-width: 1440px)" srcset="../images/advice/photo@1xd.png 1x, ../images/advice/photo@2xd.png 2x" type="image/png">
                <source media="(min-width: 768px)" srcset="../images/advice/photo@1xt.png 1x, ../images/advice/photo@2xt.png 2x" type="image/png">
                <source media="(max-width: 767px)" srcset="../images/advice/photo@1xm.png 1x, ../images/advice/photo@1xm.png 2x" type="image/png">
                
                <img src="../images/advice/photo@1xd.png , ../images/advice/photo@1xt.png , ../images/advice/photo@1xm.png" alt="photo description" width="" height="" />
            </picture>
        </div>
        <ul class="advice-list">
            <li class="advice-item"><b>Використовую різноманітну кількість ресурсів:</b> книги, відео, аудіоподкасти, мобільні додатки та інтерактивні
            вправи, щоб уникнути монотонності</li>
            <li class="advice-item"><b>Навчаю різноманітними методами і роблю це інтерактивно:</b> на заняттях ми практикуємо рольові ігри, діалоги,
            віртуальні екскурсії, дебати та імпровізації, щоб зробити навчання більш захоплюючим</li>
            <li class="advice-item"><b>Готую до подорожей та побутових тем:</b> розумію наскільки важливо вміти використовувати мову у реальних ситуаціях та
            спілкуватися з носіями мови</li>
            <li class="advice-item"><b>Спілкуюся та надаю менторську підтримку:</b> розуміючи запит та потенціал студента, я скеровую його для отримання
            оптимального результату. А інколи робота перетворюється паралельно в терапевтичну сесію. Наприклад, коли день жахливий,
            а поспілкуєшся з викладачем англійської і стає легше :)</li>
        </ul>
        </div>
    </div>
</section>