<section class="section assessment">
  <div class="container assessment-container">
    <p data-lang="assessment.subtitle" class="assessment-subtitle">
      By the way!
    </p>
    <h2 data-lang="assessment.title" class="assessment-title">
      А хочеш дізнатися, який у тебе рівень?
    </h2>
    <div class="assessment-content">
      <p data-lang="assessment.content.text" class="assessment-text">
        Під час пробного заняття я даю фідбек щодо наявного рівня володіння
        мовою, а також раджу як його покращити.
      </p>
      <button data-lang="assessment.content.button" class="btn-connect">
        Написати
      </button>
    </div>
  </div>
</section>