<section class="section">
  <div class="container formats-container">
    <h2 class="section-title">Формати навчання</h2>
    <ul class="formats-list">
      <li class="formats-item">
        <picture>
          <source
            srcset="
              ../images/studying-format/notebooks-desk.webp    1x,
              ../images/studying-format/notebooks-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../images/studying-format/notebooks-desk.png    1x,
              ../images/studying-format/notebooks-desk@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ../images/studying-format/notebooks-tab.webp    1x,
              ../images/studying-format/notebooks-tab@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/studying-format/notebooks-tab.png    1x,
              ../images/studying-format/notebooks-tab@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ../images/studying-format/notebooks-mob.webp    1x,
              ../images/studying-format/notebooks-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../images/studying-format/notebooks-mob.png    1x,
              ../images/studying-format/notebooks-mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <img
            class=""
            src="../images/studying-format/notebooks-desk.png"
            alt="Notebooks"
            width="384"
            height="452"
          />
        </picture>
        <div class="formats-item-card">
          <h3 class="formats-item-card-title">Індивідуальне навчання</h3>
          <p class="formats-item-card-description">
            Формат навчання для тих, хто шукає персоналізований підхід та
            максимальну увагу вчителя. Заняття в індивідуальному форматі
            дозволяють адаптувати матеріали та теми до конкретних потреб та
            темпу вивчення кожного учня.
          </p>
          <span class="formats-item-card-band"></span>
          <p class="formats-item-card-description price">
            60хв <span class="formats-item-card-delimiter">|</span> від 500
            грн/урок
          </p>
          <button class="formats-item-card-button btn-connect" type="button">
            Записатися
          </button>
        </div>
      </li>
      <li class="formats-item">
        <picture>
          <source
            srcset="
              ../images/studying-format/couple-of-girls-desk.webp    1x,
              ../images/studying-format/couple-of-girls-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../images/studying-format/couple-of-girls-desk.png    1x,
              ../images/studying-format/couple-of-girls-desk@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ../images/studying-format/couple-of-girls-tab.webp    1x,
              ../images/studying-format/couple-of-girls-tab@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/studying-format/couple-of-girls-tab.png    1x,
              ../images/studying-format/couple-of-girls-tab@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ../images/studying-format/couple-of-girls-mob.webp    1x,
              ../images/studying-format/couple-of-girls-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../images/studying-format/couple-of-girls-mob.png    1x,
              ../images/studying-format/couple-of-girls-mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <img
            class=""
            src="../images/studying-format/couple-of-girls-desk.png"
            alt="Couple of girls"
            width="384"
            height="452"
          />
        </picture>
        <div class="formats-item-card">
          <h3 class="formats-item-card-title">Парні заняття</h3>
          <p class="formats-item-card-description">
            Парне навчання — ідеальний спосіб сприяти взаємодопомозі та
            взаємному навчанню. Учасники можуть практикуватися та взаємно
            мотивувати один одного. Цей формат сприяє підтримці та створенню
            дружби на шляху вивчення мови.
          </p>
          <span class="formats-item-card-band"></span>
          <p class="formats-item-card-description price">
            60хв <span class="formats-item-card-delimiter">|</span> від 500
            грн/урок
          </p>
          <button class="formats-item-card-button btn-connect" type="button">
            Записатися
          </button>
        </div>
      </li>
      <li class="formats-item">
        <picture>
          <source
            srcset="
              ../images/studying-format/group-desk.webp    1x,
              ../images/studying-format/group-desk@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../images/studying-format/group-desk.png    1x,
              ../images/studying-format/group-desk@2x.png 2x
            "
            type="image/png"
            media="(min-width: 1440px)"
          />

          <source
            srcset="
              ../images/studying-format/group-tab.webp    1x,
              ../images/studying-format/group-tab@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../images/studying-format/group-tab.png    1x,
              ../images/studying-format/group-tab@2x.png 2x
            "
            type="image/png"
            media="(min-width: 768px)"
          />

          <source
            srcset="
              ../images/studying-format/group-mob.webp    1x,
              ../images/studying-format/group-mob@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ../images/studying-format/group-mob.png    1x,
              ../images/studying-format/group-mob@2x.png 2x
            "
            type="image/png"
            media="(max-width: 767px)"
          />

          <img
            class=""
            src="../images/studying-format/group-desk.png"
            alt="Group of students"
            width="384"
            height="452"
          />
        </picture>
        <div class="formats-item-card">
          <h3 class="formats-item-card-title">Групові заняття</h3>
          <p class="formats-item-card-description">
            Групове навчання — це відмінний спосіб занурення в англійську мову.
            Заняття в групі дозволяють взаємодіяти з різними персонами,
            обмінюватися ідеями та розвивати навички спілкування в різних
            ситуаціях.
          </p>
          <span class="formats-item-card-band"></span>
          <p class="formats-item-card-description price">
            60хв <span class="formats-item-card-delimiter">|</span> 3-4 учасники
            <span class="formats-item-card-delimiter">|</span> від 500 грн/урок
          </p>
          <button class="formats-item-card-button btn-connect" type="button">
            Записатися
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
