<header id="HEADER_JS" class="ih-header">
  <div class="ih-header-container container">
    <a
      href="./index.html"
      target="_self"
      class="ih-logo"
      aria-label="link on main page"
    >
      <svg class="ih-icon-logo">
        <use href="/images/ih-icons-sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <button
      id="HEADER_MENU_JS"
      class="ih-menu-button"
      title="open menu"
      type="button"
    >
      <svg class="ih-icon-menu">
        <use href="/images/ih-icons-sprite.svg#icon-menu"></use>
      </svg>
      <svg class="ih-icon-menu-close">
        <use href="/images/ih-icons-sprite.svg#icon-menu-close"></use>
      </svg>
    </button>
    <section class="ih-menu-container">
      <div class="ih-menu-content">
        <ul id="MENU_NAV_JS" class="ih-menu-nav"></ul>
        <div class="ih-custom-select-small" id="CUSTOM_SELECT_SMALL_JS"></div>
        <div class="ih-custom-select" id="CUSTOM_SELECT_JS"></div>
      </div>
      <nav class="ih-menu-social" id="MENU_SOCIAL_JS">
        <svg class="ih-icon-horisontal-line">
          <use href="/images/ih-icons-sprite.svg#icon-horisontal-line"></use>
        </svg>
      </nav>
    </section>
  </div>
</header>