<section class="section hero-section">
  <div class="container">
    <h1 class="main-title" data-lang="main-title">давай вивчати англійську разом</h1>
    <div class="about-me-container">
      <p class="about-me" data-lang="about-me">Я - вчитель, із яким ви будете активно спілкуватися, ділитися посмішками, вивчати захоплюючі
        теми та підвищувати рівень англійської.</p>
      <button type="submit" class="btn-connect" data-lang="btn-connect">записатися</button>
      <picture>
        <source srcset="./images/hero/teacher.webp 1x, ./images/hero/teacher@2x.webp 2x" type="image/webp" />
        <source srcset="./images/hero/teacher.png 1x, ./images/hero/teacher@2x.png 2x" type="image/png" />
        <img class="photo" src="./images/hero/teacher.png" alt="my photo" />
      </picture>
    </div>
    <ul class="menu-social">
      <li>
        <a class="menu-social-item" target="_blank" rel="noopener" href="https://t.me/@alyona_alyona">TELEGRAM</a>
      </li>
      <li>
        <a class="menu-social-item" target="_blank" rel="noopener"
          href="https://www.instagram.com/lolaserenity?igsh=MWxpdGRwM2R2M3Rxcg==">INSTAGRAM</a>
      </li>
      <li>
        <a class="menu-social-item" target="_blank" rel="noopener"
          href="https://www.facebook.com/alyona.stulina">FACEBOOK</a>
      </li>
    </ul>
  </div>
</section>