<link rel="stylesheet" href="../css/components/hero.css">
<section class="section">
    <div class="container">
        <h1 class="main-title">
          <p>давай вивчати</p>
          <p>англійську</p>
          <p>разом</p>
        </h1>
        
        <div class="about-me-div">
            <p class="about-me">Я - вчитель, із яким ви будете активно спілкуватися, ділитися посмішками, вивчати захоплюючі теми та підвищувати рівень англійської.</p>
            <button type="submit" class="btn-connect">записатися</button>
            <picture class="photo">
              <source
                srcset="../images/hero/teacher.webp 1x, ../images/hero/teacher@2x.webp 2x"
                type="image/webp"
              />
              <source srcset="../images/hero/teacher@2x.png 2x" type="image/png" />
              <img
                src="../images/hero/teacher.png"
                alt="photo desc"
                width="384"
                height="512"
              />
          </picture>
        </div>
        <nav class="menu-social">
            <a
              class="menu-social-item"
              target="_blank"
              rel="noopener"
              href="https://t.me/@alyona_alyona"
              >TELEGRAM</a
            >
            <a
              class="menu-social-item"
              target="_blank"
              rel="noopener"
              href="https://www.instagram.com/lolaserenity?igsh=MWxpdGRwM2R2M3Rxcg=="
              >INSTAGRAM</a
            >
            <a
              class="menu-social-item"
              target="_blank"
              rel="noopener"
              href="https://www.facebook.com/alyona.stulina"
              >FACEBOOK</a
            >
          </nav>
    </div>
</section>