<section>
    <div class="container">
        <h1>давай вивчати англійську разом</h1>
        <picture>
            <source
              srcset="../images/hero/teacher-webp.webp 1x, ./images/hero/teacher-webp@2x.webp 2x"
              type="image/webp"
            />
            <source srcset="../images/hero/teacher-png@2x.png 2x" type="image/png" />
            <img
              src="../images/hero/teacher-png.png"
              alt="photo desc"
              width="384"
              height="512"
            />
        </picture>
        <div>
            <p>Я - вчитель, із яким ви будете активно спілкуватися, ділитися посмішками, вивчати захоплюючі теми та підвищувати рівень англійської.</p>
            <button>записатися</button>
        </div>
        <ul>
            <li><a href="">TELEGRAM</a></li>
            <li><a href="">INSTAGRAM</a></li>
            <li><a href="">FACEBOOK</a></li>
        </ul>
    </div>
</section>