<div class="mdl-box">
    <div class="mdl-flex">
      <div class="mdl-forma">

          <svg class="close" width="24" height="24">
              <use class="use-close" href="../images/icons-sprite.svg#close-icon"></use>
          </svg>

          <div class="mdl-content">

            <div class="thumb-title">
              <h2 class="title-form">Зв’язатися<br> зі мною</h2>
              <p class="paragraf-form">Будь ласка, заповніть форму<br> і я зв’яжуся з Вами якнайшвидше для обговорення деталей.</p>
            </div>

            <form class="forma-for-connect" novalidate>
        
              <label class="label-inpt"><span>Ваше ім’я<span class="star">*</span></span>
                <input type="text" class="user-inpt username" name="username" placeholder="Анастасія" required/>
                <span class="error-input" style="color: var(--accent-color);">Будь ласка, введіть коректне ім’я</span>
              </label>

              <label class="label-inpt"><span>Номер телефону<span class="star">*</span></span>
                <input type="tel" class="user-inpt phone" name="phone" placeholder="+38 000 000 00 00" required/>
                <span class="error-input" style="color: var(--accent-color);">Будь ласка, введіть коректний номер(+)11/12 символів</span>
              </label>

              <label class="label-inpt">Формат навчання
                  <div class="new-select">
                    <button type="button" class="user-btn first-item-list" required>Оберіть варіант навчання</button>
                    <span class="error-input" style="color: var(--accent-color);">Будь ласка, виберіть варіант навчання</span>

                    <ul class="list-item-select" name="education">
                      <li class="list-item-select-opt" data-value="Individual study">Індивідуальне навчання</li>
                      <li class="list-item-select-opt" data-value="Study with a friend">Парне навчання</li>
                      <li class="list-item-select-opt" data-value="Groupe study">Групове навчання</li>
                    </ul>
                  </div>
              </label>

              <label class="label-inpt">Коментар
                <textarea class="user-textarea text-com" name="comment" placeholder="Ваш коментар"></textarea>
              </label>
                     
            <button class="but-submit" type="submit">ВІДПРАВИТИ</button> 
        
            </form>
          </div>
      </div>
    </div>
  </div>