<section class="section opp-section">
  <div class="container opp-container">
    <h2 class="visually-hidden">Advantages of Learning English</h2>

    <!------------ Global communication ------------>
    <div class="opp-img-wrapper">
      <picture>
        <source
          srcset="
            ./images/opportunities/desktop/WebP/global.webp    1x,
            ./images/opportunities/desktop/WebP/global@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/desktop/PNG/global.png    1x,
            ./images/opportunities/desktop/PNG/global@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/WebP/global.webp    1x,
            ./images/opportunities/tablet/WebP/global@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/PNG/global.png    1x,
            ./images/opportunities/tablet/PNG/global@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/WebP/global.webp    1x,
            ./images/opportunities/mobile/WebP/global@2x.webp 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/PNG/global.png    1x,
            ./images/opportunities/mobile/PNG/global@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <img
          class="opp-img"
          src="./images/opportunities/desktop/PNG/global.png"
          alt="Global communication"
          width="488"
          height="560"
        />
      </picture>
    </div>

    <!------------ Career opportunities ------------>
    <div class="opp-img-wrapper">
      <picture>
        <source
          srcset="
            ./images/opportunities/desktop/WebP/career.webp    1x,
            ./images/opportunities/desktop/WebP/career@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/desktop/PNG/career.png    1x,
            ./images/opportunities/desktop/PNG/career@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/WebP/career.webp    1x,
            ./images/opportunities/tablet/WebP/career@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/PNG/career.png    1x,
            ./images/opportunities/tablet/PNG/career@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/WebP/career.webp    1x,
            ./images/opportunities/mobile/WebP/career@2x.webp 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/PNG/career.png    1x,
            ./images/opportunities/mobile/PNG/career@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <img
          class="opp-img"
          src="./images/opportunities/desktop/PNG/career.png"
          alt="Career opportunities"
          width="488"
          height="560"
        />
      </picture>
    </div>

    <!------------ Education opportunities ------------>
    <div class="opp-img-wrapper">
      <picture>
        <source
          srcset="
            ./images/opportunities/desktop/WebP/education.webp    1x,
            ./images/opportunities/desktop/WebP/education@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/desktop/PNG/education.png    1x,
            ./images/opportunities/desktop/PNG/education@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/WebP/education.webp    1x,
            ./images/opportunities/tablet/WebP/education@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/PNG/education.png    1x,
            ./images/opportunities/tablet/PNG/education@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/WebP/education.webp    1x,
            ./images/opportunities/mobile/WebP/education@2x.webp 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/PNG/education.png    1x,
            ./images/opportunities/mobile/PNG/education@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <img
          class="opp-img"
          src="./images/opportunities/desktop/PNG/education.png"
          alt="Education opportunities"
          width="488"
          height="560"
        />
      </picture>
    </div>

    <!------------ Cultural exchange ------------>
    <div class="opp-img-wrapper">
      <picture>
        <source
          srcset="
            ./images/opportunities/desktop/WebP/culture.webp    1x,
            ./images/opportunities/desktop/WebP/culture@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/desktop/PNG/culture.png    1x,
            ./images/opportunities/desktop/PNG/culture@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/WebP/culture.webp    1x,
            ./images/opportunities/tablet/WebP/culture@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/PNG/culture.png    1x,
            ./images/opportunities/tablet/PNG/culture@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/WebP/culture.webp    1x,
            ./images/opportunities/mobile/WebP/culture@2x.webp 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/PNG/culture.png    1x,
            ./images/opportunities/mobile/PNG/culture@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <img
          class="opp-img"
          src="./images/opportunities/desktop/PNG/culture.png"
          alt="Cultural exchange"
          width="488"
          height="560"
        />
      </picture>
    </div>

    <!------------ Technological achievements ------------>
    <div class="opp-img-wrapper">
      <picture>
        <source
          srcset="
            ./images/opportunities/desktop/WebP/technology.webp    1x,
            ./images/opportunities/desktop/WebP/technology@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/desktop/PNG/technology.png    1x,
            ./images/opportunities/desktop/PNG/technology@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/WebP/technology.webp    1x,
            ./images/opportunities/tablet/WebP/technology@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/PNG/technology.png    1x,
            ./images/opportunities/tablet/PNG/technology@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/WebP/technology.webp    1x,
            ./images/opportunities/mobile/WebP/technology@2x.webp 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/PNG/technology.png    1x,
            ./images/opportunities/mobile/PNG/technology@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <img
          class="opp-img"
          src="./images/opportunities/desktop/PNG/technology.png"
          alt="Technological achievements"
          width="488"
          height="560"
        />
      </picture>

      <!------------ Travels and tourism ------------>
      <picture>
        <source
          srcset="
            ./images/opportunities/desktop/WebP/travel.webp    1x,
            ./images/opportunities/desktop/WebP/travel@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/desktop/PNG/travel.png    1x,
            ./images/opportunities/desktop/PNG/travel@2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/WebP/travel.webp    1x,
            ./images/opportunities/tablet/WebP/travel@2x.webp 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/tablet/PNG/travel.png    1x,
            ./images/opportunities/tablet/PNG/travel@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/WebP/travel.webp    1x,
            ./images/opportunities/mobile/WebP/travel@2x.webp 2x
          "
          media="(max-width: 767.98px)"
        />
        <source
          srcset="
            ./images/opportunities/mobile/PNG/travel.png    1x,
            ./images/opportunities/mobile/PNG/travel@2x.png 2x
          "
          media="(max-width: 767.98px)"
        />
        <img
          class="opp-img"
          src="./images/opportunities/desktop/PNG/travel.png"
          alt="Travels and tourism"
          width="488"
          height="560"
        />
      </picture>
    </div>
  </div>
</section>
