<section class="section opp-section">
  <div class="container opp-container">
    <h2 class="visually-hidden">Advantages of Learning English</h2>

    <div class="swiper opp-img-swiper">
      <ul class="swiper-wrapper opp-img-swiper-wrapper">
        <!------------ Global communication ------------>
        <li class="swiper-slide opp-img-swiper-slide">
          <div class="opp-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/opportunities/desktop/WebP/global.webp    1x,
                  ./images/opportunities/desktop/WebP/global@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/desktop/PNG/global.png    1x,
                  ./images/opportunities/desktop/PNG/global@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/WebP/global.webp    1x,
                  ./images/opportunities/tablet/WebP/global@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/PNG/global.png    1x,
                  ./images/opportunities/tablet/PNG/global@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/WebP/global.webp    1x,
                  ./images/opportunities/mobile/WebP/global@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767.98px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/PNG/global.png    1x,
                  ./images/opportunities/mobile/PNG/global@2x.png 2x
                "
                type="image/png"
                media="(max-width: 767.98px)"
              />
              <img
                class="opp-img"
                src="./images/opportunities/desktop/PNG/global.png"
                alt="Global communication"
                width="488"
                height="560"
              />
            </picture>
          </div>
        </li>

        <!------------ Career opportunities ------------>
        <li class="swiper-slide opp-img-swiper-slide">
          <div class="opp-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/opportunities/desktop/WebP/career.webp    1x,
                  ./images/opportunities/desktop/WebP/career@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/desktop/PNG/career.png    1x,
                  ./images/opportunities/desktop/PNG/career@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/WebP/career.webp    1x,
                  ./images/opportunities/tablet/WebP/career@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/PNG/career.png    1x,
                  ./images/opportunities/tablet/PNG/career@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/WebP/career.webp    1x,
                  ./images/opportunities/mobile/WebP/career@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767.98px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/PNG/career.png    1x,
                  ./images/opportunities/mobile/PNG/career@2x.png 2x
                "
                type="image/png"
                media="(max-width: 767.98px)"
              />
              <img
                class="opp-img"
                src="./images/opportunities/desktop/PNG/career.png"
                alt="Career opportunities"
                width="488"
                height="560"
              />
            </picture>
          </div>
        </li>

        <!------------ Education opportunities ------------>
        <li class="swiper-slide opp-img-swiper-slide">
          <div class="opp-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/opportunities/desktop/WebP/education.webp    1x,
                  ./images/opportunities/desktop/WebP/education@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/desktop/PNG/education.png    1x,
                  ./images/opportunities/desktop/PNG/education@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/WebP/education.webp    1x,
                  ./images/opportunities/tablet/WebP/education@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/PNG/education.png    1x,
                  ./images/opportunities/tablet/PNG/education@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/WebP/education.webp    1x,
                  ./images/opportunities/mobile/WebP/education@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767.98px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/PNG/education.png    1x,
                  ./images/opportunities/mobile/PNG/education@2x.png 2x
                "
                type="image/png"
                media="(max-width: 767.98px)"
              />
              <img
                class="opp-img"
                src="./images/opportunities/desktop/PNG/education.png"
                alt="Education opportunities"
                width="488"
                height="560"
              />
            </picture>
          </div>
        </li>

        <!------------ Cultural exchange ------------>
        <li class="swiper-slide opp-img-swiper-slide">
          <div class="opp-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/opportunities/desktop/WebP/culture.webp    1x,
                  ./images/opportunities/desktop/WebP/culture@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/desktop/PNG/culture.png    1x,
                  ./images/opportunities/desktop/PNG/culture@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/WebP/culture.webp    1x,
                  ./images/opportunities/tablet/WebP/culture@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/PNG/culture.png    1x,
                  ./images/opportunities/tablet/PNG/culture@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/WebP/culture.webp    1x,
                  ./images/opportunities/mobile/WebP/culture@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767.98px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/PNG/culture.png    1x,
                  ./images/opportunities/mobile/PNG/culture@2x.png 2x
                "
                type="image/png"
                media="(max-width: 767.98px)"
              />
              <img
                class="opp-img"
                src="./images/opportunities/desktop/PNG/culture.png"
                alt="Cultural exchange"
                width="488"
                height="560"
              />
            </picture>
          </div>
        </li>

        <!------------ Technological achievements ------------>
        <li class="swiper-slide opp-img-swiper-slide">
          <div class="opp-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/opportunities/desktop/WebP/technology.webp    1x,
                  ./images/opportunities/desktop/WebP/technology@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/desktop/PNG/technology.png    1x,
                  ./images/opportunities/desktop/PNG/technology@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/WebP/technology.webp    1x,
                  ./images/opportunities/tablet/WebP/technology@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/PNG/technology.png    1x,
                  ./images/opportunities/tablet/PNG/technology@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/WebP/technology.webp    1x,
                  ./images/opportunities/mobile/WebP/technology@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767.98px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/PNG/technology.png    1x,
                  ./images/opportunities/mobile/PNG/technology@2x.png 2x
                "
                type="image/png"
                media="(max-width: 767.98px)"
              />
              <img
                class="opp-img"
                src="./images/opportunities/desktop/PNG/technology.png"
                alt="Technological achievements"
                width="488"
                height="560"
              />
            </picture>
          </div>
        </li>

        <!------------ Travels and tourism ------------>
        <li class="swiper-slide opp-img-swiper-slide">
          <div class="opp-img-wrapper">
            <picture>
              <source
                srcset="
                  ./images/opportunities/desktop/WebP/travel.webp    1x,
                  ./images/opportunities/desktop/WebP/travel@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/desktop/PNG/travel.png    1x,
                  ./images/opportunities/desktop/PNG/travel@2x.png 2x
                "
                type="image/png"
                media="(min-width: 1440px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/WebP/travel.webp    1x,
                  ./images/opportunities/tablet/WebP/travel@2x.webp 2x
                "
                type="image/webp"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/tablet/PNG/travel.png    1x,
                  ./images/opportunities/tablet/PNG/travel@2x.png 2x
                "
                type="image/png"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/WebP/travel.webp    1x,
                  ./images/opportunities/mobile/WebP/travel@2x.webp 2x
                "
                type="image/webp"
                media="(max-width: 767.98px)"
              />
              <source
                srcset="
                  ./images/opportunities/mobile/PNG/travel.png    1x,
                  ./images/opportunities/mobile/PNG/travel@2x.png 2x
                "
                type="image/png"
                media="(max-width: 767.98px)"
              />
              <img
                class="opp-img"
                src="./images/opportunities/desktop/PNG/travel.png"
                alt="Travels and tourism"
                width="488"
                height="560"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>

    <div class="swiper opp-text-swiper">
      <ul class="swiper-wrapper opp-text-swiper-wrapper">
        <li class="swiper-slide opp-text-swiper-slide">
          <h3 class="opp-title">Глобальна комунікація</h3>
          <p class="opp-text">
            Англійська — глобальна мова спілкування, яка допомагає у комунікації
            між людьми з різних лінгвістичних груп.
          </p>
        </li>
        <li class="swiper-slide opp-text-swiper-slide">
          <h3 class="opp-title">Кар’єрні можливості</h3>
          <p class="opp-text">
            Більшість міжнародних компаній використовують англійську як основну
            мову для спілкування. Тому її знання може відкрити для вас нові
            кар’єрні перспективи.
          </p>
        </li>
        <li class="swiper-slide opp-text-swiper-slide">
          <h3 class="opp-title">можливості освіти</h3>
          <p class="opp-text">
            Вивчення англійської дозволяє отримати доступ до більшої кількості
            інформації, досліджень та освітніх ресурсів, які часто доступні саме
            цією мовою.
          </p>
        </li>
        <li class="swiper-slide opp-text-swiper-slide">
          <h3 class="opp-title">Культурний обмін</h3>
          <p class="opp-text">
            Володіння англійською сприяє культурному обміну та взаєморозумінню
            між людьми з різних куточків нашої планети.
          </p>
        </li>
        <li class="swiper-slide opp-text-swiper-slide">
          <h3 class="opp-title">Технологічні досягнення</h3>
          <p class="opp-text">
            Англійська також є домінуючою в галузі технологій та Інтернету. Її
            знання важливе у відслідковуванні технологічних інновацій та
            активній участі в них.
          </p>
        </li>
        <li class="swiper-slide opp-text-swiper-slide">
          <h3 class="opp-title">Подорожі та туризм</h3>
          <p class="opp-text">
            Зі знанням англійської подорожі стануть приємнішими, а спілкування з
            місцевими жителями та орієнтування в невідомих місцях стане легшим.
          </p>
        </li>
      </ul>
      <div class="opp-button-wrapper">
        <button class="opp-button opp-button-prev" type="button">
          <svg class="opp-icon" width="24" height="24">
            <use href="./images/icons-sprite.svg#opp-arrow-left"></use>
          </svg></button
        ><button class="opp-button opp-button-next" type="button">
          <svg class="opp-icon" width="24" height="24">
            <use href="./images/icons-sprite.svg#opp-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
