<section class="section requirements-section">
  <div class="container">
    <p class="requirements-subtitle">What is needed</p>
    <h2 class="section-title requirements-section-title" data-lang="requirements.title">
      Вивчення мови неможливе без
    </h2>
    <ul class="requirements-list">
      <li class="requirement">
        <picture>
          <!-- Desktop -->
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-1.webp    1x,
              ./images/requirements/requirements_desk-1@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-1.png    1x,
              ./images/requirements/requirements_desk-1@2x.png 2x
            " type="image/png" />
          <!-- Mobile + Tablet -->
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-1.webp    1x,
              ./images/requirements/requirements_mob-1@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-1.png    1x,
              ./images/requirements/requirements_mob-1@2x.png 2x
            " type="image/png" />
          <img loading="lazy" class="requirement-img" src="./images/requirements/requirements_desk-1.png"
            alt="Shelf with a stuff" width="336" height="280" />
        </picture>
        <div class="requirement-description">
          <h3 class="requirement-title" data-lang="requirements.firstSubtitle">
            Мотивації
          </h3>
          <p class="requirement-article" data-lang="requirements.firstArticle">
            Зацікавленість і бажання вивчати нову мову є ключовими для
            досягнення успіху.
          </p>
        </div>
      </li>
      <li class="requirement">
        <picture>
          <!-- Desktop -->
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-2.webp    1x,
              ./images/requirements/requirements_desk-2@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-2.png    1x,
              ./images/requirements/requirements_desk-2@2x.png 2x
            " type="image/png" />
          <!-- Mobile + Tablet -->
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-2.webp    1x,
              ./images/requirements/requirements_mob-2@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-2.png    1x,
              ./images/requirements/requirements_mob-2@2x.png 2x
            " type="image/png" />
          <img loading="lazy" class="requirement-img" src="./images/requirements/requirements_desk-2.png"
            alt="Books, apple and pencils on the table" width="336" height="280" />
        </picture>
        <div class="requirement-description">
          <h3 class="requirement-title" data-lang="requirements.secondSubtitle">
            Дисципліни
          </h3>
          <p class="requirement-article" data-lang="requirements.secondArticle">
            Вивчення мови, що перетворюється на звичку і систематичний підхід
            допомагають у закріпленні навичок і досягненні успіху.
          </p>
        </div>
      </li>
      <li class="requirement">
        <picture>
          <!-- Desktop -->
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-3.webp    1x,
              ./images/requirements/requirements_desk-3@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-3.png    1x,
              ./images/requirements/requirements_desk-3@2x.png 2x
            " type="image/png" />

          <!-- Mobile + Tablet -->
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-3.webp    1x,
              ./images/requirements/requirements_mob-3@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-3.png    1x,
              ./images/requirements/requirements_mob-3@2x.png 2x
            " type="image/png" />
          <img loading="lazy" class="requirement-img" src="./images/requirements/requirements_desk-3.png"
            alt="A hand that is writing something" width="336" height="280" />
        </picture>
        <div class="requirement-description">
          <h3 class="requirement-title" data-lang="requirements.thirdSubtitle">
            Практики
          </h3>
          <p class="requirement-article" data-lang="requirements.thirdArticle">
            Регулярна практика — ключ до історії успіху. І це не лише
            англійської стосується .
          </p>
        </div>
      </li>
      <li class="requirement">
        <picture>
          <!-- Desktop -->
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-4.webp    1x,
              ./images/requirements/requirements_desk-4@2x.webp 2x
            " type="image/webp" />
          <source media="(min-width: 1440px)" srcset="
              ./images/requirements/requirements_desk-4.png    1x,
              ./images/requirements/requirements_desk-4@2x.png 2x
            " type="image/png" />

          <!-- Mobile + Tablet -->
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-4.webp    1x,
              ./images/requirements/requirements_mob-4@2x.webp 2x
            " type="image/webp" />
          <source media="(max-width: 1439px)" srcset="
              ./images/requirements/requirements_mob-4.png    1x,
              ./images/requirements/requirements_mob-4@2x.png 2x
            " type="image/png" />
          <img loading="lazy" class="requirement-img" src="./images/requirements/requirements_desk-4.png"
            alt="A girl in front of laptop" width="336" height="280" />
        </picture>
        <div class="requirement-description">
          <h3 class="requirement-title" data-lang="requirements.fourthSubtitle">
            Терпіння
          </h3>
          <p class="requirement-article" data-lang="requirements.fourthArticle">
            Розуміння того, що вивчення мови — це процес, що вимагає часу та
            наполегливості.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>