<section id="reviews" class="section reviews-section">
  <div class="container reviews-container">
    <p class="reviews-subtitle">Success stories</p>
    <h2 class="section-title reviews-section-title" data-lang="reviews.title">
      від студентів
    </h2>
    <div class="reviews-wrapper">
      <div class="swiper reviews-img-swiper">
        <ul class="swiper-wrapper reviews-img-swiper-wrapper">
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source
                  srcset="
                    ./images/reviews/desktop/WebP/video-webp.webp    1x,
                    ./images/reviews/desktop/WebP/video-webp@2x.webp 2x
                  "
                  width="592"
                  height="480"
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/desktop/PNG/video-png.png    1x,
                    ./images/reviews/desktop/PNG/video-png@2x.png 2x
                  "
                  width="592"
                  height="480"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/WebP/video-webp.webp    1x,
                    ./images/reviews/tablet/WebP/video-webp@2x.webp 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/PNG/video-png.png    1x,
                    ./images/reviews/tablet/PNG/video-png@2x.png 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/WebP/video-webp.webp    1x,
                    ./images/reviews/mobile/WebP/video-webp@2x.webp 2x
                  "
                  width="320"
                  height="480"
                  type="image/webp"
                  media="(min-width: 767.98)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/PNG/video-png.png    1x,
                    ./images/reviews/mobile/PNG/video-png@2x.png 2x
                  "
                  width="320"
                  height="480"
                  type="image/png"
                  media="(min-width: 767.98)"
                />
                <img
                  class="reviews-img"
                  src="./images/reviews/mobile/PNG/video-png.png"
                  alt="student maria vovk"
                  width="320"
                  height="480"
                />
              </picture>
            </div>
          </li>
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source
                  srcset="
                    ./images/reviews/desktop/WebP/video-webp.webp    1x,
                    ./images/reviews/desktop/WebP/video-webp@2x.webp 2x
                  "
                  width="592"
                  height="480"
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/desktop/PNG/video-png.png    1x,
                    ./images/reviews/desktop/PNG/video-png@2x.png 2x
                  "
                  width="592"
                  height="480"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/WebP/video-webp.webp    1x,
                    ./images/reviews/tablet/WebP/video-webp@2x.webp 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/PNG/video-png.png    1x,
                    ./images/reviews/tablet/PNG/video-png@2x.png 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/WebP/video-webp.webp    1x,
                    ./images/reviews/mobile/WebP/video-webp@2x.webp 2x
                  "
                  width="320"
                  height="480"
                  type="image/webp"
                  media="(min-width: 767.98)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/PNG/video-png.png    1x,
                    ./images/reviews/mobile/PNG/video-png@2x.png 2x
                  "
                  width="320"
                  height="480"
                  type="image/png"
                  media="(min-width: 767.98)"
                />
                <img
                  class="reviews-img"
                  src="./images/reviews/mobile/PNG/video-png.png"
                  alt="student maria vovk"
                  width="320"
                  height="480"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper reviews-text-swiper">
        <ul class="swiper-wrapper reviews-text-swiper-wrapper">
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle1">
              поліна
            </h3>
            <p class="reviews-text" data-lang="reviews.reviewText1">
              Всім привіт! Хочу порадити вам репетитора Альону. Це найкращий
              викладач та людина, яку ви можете зустріти на своєму шляху
              вивчення англійської мови. Альона допомогла мені успішно скласти
              ЗНО та витягнула мою англійську на чудовий рівень. Це людина з
              якою не боїшся зробити помилку, сказати щось не те, тобі завжди
              комфортно. Пам’ятаю, як я вирішила витягнути свою розмову
              англійську. Спочатку я навіть не могла сказати одне речення, але
              Альона допомагала мені та робила це дуже обережно, а через місяць
              я вже могла вільно говорити. На заняттях завжди приємна та
              комфортна атмосфера, ти почуваєшся як з близькою подругою за
              кавою, тільки розмовляєш на англійській. Також варто додати, що
              Альона дуже різностороння та надихаюча особистість, у вас ніколи
              не буде такого, що не буде про що поговорити. Я впевнена, що
              Альона допоможе вам з будь-яким напрямом англійської, від
              юридичної до інженерної😊 Альона заряджає своєю енергією,
              позитивом, креативними та сучасними підходами. Приємно бачити
              людину, яка настільки любить свою справу. Бажаю вам успіхів ❤️🫰🏻
              Альона найкраща!
            </p>
          </li>
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle2">
              надія
            </h3>
            <p class="reviews-text" data-lang="reviews.reviewText2">
              Хочу поділитися своїм досвідом. Займаючись з Альоною, всього за
              два місяці я подолала свій мовний бар'єр, значно покращила свої
              знання, вимову та отримала офер на роботі своєї мріі. Я була
              приємно здивована, наскільки легко, інтерактивно та захопливо
              проходять уроки. Маючи досвід навчання в інших місцях, я не могла
              навіть уявити, що навчання може бути таким легким та комфортним.
              Особливо хочу відзначити Альону як особистість та професіонала,
              яка неодмінно допоможе досягнути поставленої мети. Звісно, багато
              чого залежить від власного бажання та наполегливості, але з таким
              наставником, як Альона, процес навчання перетворюється і справді в
              цікавий процес, де з кожним днем ти стаєш краще. Домашні завдання
              – це окрема любов. Альона підбирає завдання під твої інтереси, дає
              прикольні відео для просмотру. Готує круті топики для discussion.
              Є багато корисної і необхідної інформації під конкретний запит.
              Тому всім рекомендую спробувати та змінити своє життя, тому що
              англійська відкриває нові горизонти. 💖
            </p>
          </li>
        </ul>
        <div class="reviews-button-wrapper">
          <button class="reviews-button reviews-button-prev" type="button">
            <svg class="reviews-icon" width="24" height="24">
              <use href="./images/icons-sprite.svg#reviews-arrow-left"></use>
            </svg></button
          ><button class="reviews-button reviews-button-next" type="button">
            <svg class="reviews-icon" width="24" height="24">
              <use href="./images/icons-sprite.svg#reviews-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
