<section class="section reviews-section">
  <div class="container reviews-container">
    <p class="reviews-subtitle">Success stories</p>
    <h2 class="section-title reviews-section-title">від студентів</h2>
    <div class="reviews-wrapper">
      <div class="swiper reviews-img-swiper">
        <ul class="swiper-wrapper reviews-img-swiper-wrapper">
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source
                  srcset="
                    ./images/reviews/desktop/WebP/video-webp.webp    1x,
                    ./images/reviews/desktop/WebP/video-webp@2x.webp 2x
                  "
                  width="592"
                  height="480"
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/desktop/PNG/video-png.png    1x,
                    ./images/reviews/desktop/PNG/video-png@2x.png 2x
                  "
                  width="592"
                  height="480"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/WebP/video-webp.webp    1x,
                    ./images/reviews/tablet/WebP/video-webp@2x.webp 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/PNG/video-png.png    1x,
                    ./images/reviews/tablet/PNG/video-png@2x.png 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/WebP/video-webp.webp    1x,
                    ./images/reviews/mobile/WebP/video-webp@2x.webp 2x
                  "
                  width="320"
                  height="480"
                  type="image/webp"
                  media="(min-width: 767.98)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/PNG/video-png.png    1x,
                    ./images/reviews/mobile/PNG/video-png@2x.png 2x
                  "
                  width="320"
                  height="480"
                  type="image/png"
                  media="(min-width: 767.98)"
                />
                <img
                  class="reviews-img"
                  src="./images/reviews/mobile/PNG/video-png.png"
                  alt="student maria vovk"
                  width="320"
                  height="480"
                />
              </picture>
            </div>
          </li>
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source
                  srcset="
                    ./images/reviews/desktop/WebP/video-webp.webp    1x,
                    ./images/reviews/desktop/WebP/video-webp@2x.webp 2x
                  "
                  width="592"
                  height="480"
                  type="image/webp"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/desktop/PNG/video-png.png    1x,
                    ./images/reviews/desktop/PNG/video-png@2x.png 2x
                  "
                  width="592"
                  height="480"
                  type="image/png"
                  media="(min-width: 1440px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/WebP/video-webp.webp    1x,
                    ./images/reviews/tablet/WebP/video-webp@2x.webp 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/webp"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/tablet/PNG/video-png.png    1x,
                    ./images/reviews/tablet/PNG/video-png@2x.png 2x
                  "
                  width="704"
                  heigth="480"
                  type="image/png"
                  media="(min-width: 768px)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/WebP/video-webp.webp    1x,
                    ./images/reviews/mobile/WebP/video-webp@2x.webp 2x
                  "
                  width="320"
                  height="480"
                  type="image/webp"
                  media="(min-width: 767.98)"
                />
                <source
                  srcset="
                    ./images/reviews/mobile/PNG/video-png.png    1x,
                    ./images/reviews/mobile/PNG/video-png@2x.png 2x
                  "
                  width="320"
                  height="480"
                  type="image/png"
                  media="(min-width: 767.98)"
                />
                <img
                  class="reviews-img"
                  src="./images/reviews/mobile/PNG/video-png.png"
                  alt="student maria vovk"
                  width="320"
                  height="480"
                />
              </picture>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper reviews-text-swiper">
        <ul class="swiper-wrapper reviews-text-swiper-wrapper">
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title">maria vovk</h3>
            <p class="reviews-text">
              Навчання англійської мови за останній рік під керівництвом Альони
              було для мене надзвичайно корисним та захоплюючим. Альона не лише
              відмінний фахівець у своїй справі, але й чудовий мотиватор. Її
              терплячість і розуміння завжди допомагають подолати будь-які
              труднощі в навчанні. Відкритий та дружелюбний підхід зробив моє
              навчання не лише ефективним, а й приємним. Дякую за величезний
              внесок у мої знання англійської мови!
            </p>
          </li>
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title">maria vovk</h3>
            <p class="reviews-text">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure,
              totam. lorem100
            </p>
          </li>
        </ul>
        <div class="reviews-button-wrapper">
          <button class="reviews-button reviews-button-prev" type="button">
            <svg class="reviews-icon" width="24" height="24">
              <use href="./images/icons-sprite.svg#reviews-arrow-left"></use>
            </svg></button
          ><button class="reviews-button reviews-button-next" type="button">
            <svg class="reviews-icon" width="24" height="24">
              <use href="./images/icons-sprite.svg#reviews-arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
