<section id="reviews" class="section reviews-section">
  <div class="container reviews-container">
    <p class="reviews-subtitle">Success stories</p>
    <h2 class="section-title reviews-section-title" data-lang="reviews.title">
      від студентів
    </h2>
    <div class="reviews-wrapper">
      <div class="swiper reviews-img-swiper">
        <ul class="swiper-wrapper reviews-img-swiper-wrapper">
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source srcset="
                    ./images/reviews/desktop/WebP/polina.webp    1x,
                    ./images/reviews/desktop/WebP/polina@2x.webp 2x
                  " width="592" height="720" type="image/webp" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/desktop/PNG/polina.png    1x,
                    ./images/reviews/desktop/PNG/polina@2x.png 2x
                  " width="592" height="720" type="image/png" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/tablet/WebP/polina.webp    1x,
                    ./images/reviews/tablet/WebP/polina@2x.webp 2x
                  " width="704" heigth="480" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/tablet/PNG/polina.png    1x,
                    ./images/reviews/tablet/PNG/polina@2x.png 2x
                  " width="704" heigth="480" type="image/png" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/mobile/WebP/polina.webp    1x,
                    ./images/reviews/mobile/WebP/polina@2x.webp 2x
                  " width="320" height="480" type="image/webp" media="(min-width: 767.98)" />
                <source srcset="
                    ./images/reviews/mobile/PNG/polina.png    1x,
                    ./images/reviews/mobile/PNG/polina@2x.png 2x
                  " width="320" height="480" type="image/png" media="(min-width: 767.98)" />
                <img loading="lazy" class="reviews-img" src="./images/reviews/mobile/PNG/polina.png"
                  alt="Blonde girl with brown eyes on the background of the landscape" width="320" height="480" />
              </picture>
            </div>
          </li>
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source srcset="
                    ./images/reviews/desktop/WebP/nadiia.webp    1x,
                    ./images/reviews/desktop/WebP/nadiia@2x.webp 2x
                  " width="592" height="720" type="image/webp" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/desktop/PNG/nadiia.png    1x,
                    ./images/reviews/desktop/PNG/nadiia@2x.png 2x
                  " width="592" height="720" type="image/png" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/tablet/WebP/nadiia.webp    1x,
                    ./images/reviews/tablet/WebP/nadiia@2x.webp 2x
                  " width="704" heigth="480" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/tablet/PNG/nadiia.png    1x,
                    ./images/reviews/tablet/PNG/nadiia@2x.png 2x
                  " width="704" heigth="480" type="image/png" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/mobile/WebP/nadiia.webp    1x,
                    ./images/reviews/mobile/WebP/nadiia@2x.webp 2x
                  " width="320" height="480" type="image/webp" media="(min-width: 767.98)" />
                <source srcset="
                    ./images/reviews/mobile/PNG/nadiia.png    1x,
                    ./images/reviews/mobile/PNG/nadiia@2x.png 2x
                  " width="320" height="480" type="image/png" media="(min-width: 767.98)" />
                <img loading="lazy" loading="lazy" class="reviews-img" src="./images/reviews/mobile/PNG/nadiia.png"
                  alt="Brunette girl with brown eyes on the background of the beach" width="320" height="480" />
              </picture>
            </div>
          </li>
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source srcset="
                    ./images/reviews/desktop/WebP/liza.webp    1x,
                    ./images/reviews/desktop/WebP/liza@2x.webp 2x
                  " width="592" height="720" type="image/webp" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/desktop/PNG/liza.png    1x,
                    ./images/reviews/desktop/PNG/liza@2x.png 2x
                  " width="592" height="720" type="image/png" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/tablet/WebP/liza.webp    1x,
                    ./images/reviews/tablet/WebP/liza@2x.webp 2x
                  " width="704" heigth="480" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/tablet/PNG/liza.png    1x,
                    ./images/reviews/tablet/PNG/liza@2x.png 2x
                  " width="704" heigth="480" type="image/png" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/mobile/WebP/liza.webp    1x,
                    ./images/reviews/mobile/WebP/liza@2x.webp 2x
                  " width="320" height="480" type="image/webp" media="(max-width: 767.98)" />
                <source srcset="
                    ./images/reviews/mobile/PNG/liza.png    1x,
                    ./images/reviews/mobile/PNG/liza@2x.png 2x
                  " width="320" height="480" type="image/png" media="(max-width: 767.98)" />
                <img loading="lazy" class="reviews-img" src="./images/reviews/mobile/PNG/liza.png"
                  alt="Blonde girl with blue eyes and freckles" width="320" height="480" />
              </picture>
            </div>
          </li>
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <video class="reviews-video" controls>
                <source src="./images/reviews/video/anna-video.mp4" />
              </video>
            </div>
          </li>
          <li class="swiper-slide reviews-img-swiper-slide">
            <div class="reviews-img-wraper">
              <picture>
                <source srcset="
                    ./images/reviews/desktop/WebP/daria.webp    1x,
                    ./images/reviews/desktop/WebP/daria@2x.webp 2x
                  " width="592" height="720" type="image/webp" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/desktop/PNG/daria.png    1x,
                    ./images/reviews/desktop/PNG/daria@2x.png 2x
                  " width="592" height="720" type="image/png" media="(min-width: 1440px)" />
                <source srcset="
                    ./images/reviews/tablet/WebP/daria.webp    1x,
                    ./images/reviews/tablet/WebP/daria@2x.webp 2x
                  " width="704" heigth="480" type="image/webp" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/tablet/PNG/daria.png    1x,
                    ./images/reviews/tablet/PNG/daria@2x.png 2x
                  " width="704" heigth="480" type="image/png" media="(min-width: 768px)" />
                <source srcset="
                    ./images/reviews/mobile/WebP/daria.webp    1x,
                    ./images/reviews/mobile/WebP/daria@2x.webp 2x
                  " width="320" height="480" type="image/webp" media="(max-width: 767.98)" />
                <source srcset="
                    ./images/reviews/mobile/PNG/daria.png    1x,
                    ./images/reviews/mobile/PNG/daria@2x.png 2x
                  " width="320" height="480" type="image/png" media="(max-width: 767.98)" />
                <img loading="lazy" class="reviews-img" src="./images/reviews/mobile/PNG/daria.png"
                  alt="Blonde girl with blue eyes and freckles" width="320" height="480" />
              </picture>
            </div>
          </li>
        </ul>
      </div>
      <div class="swiper reviews-text-swiper">
        <ul class="swiper-wrapper reviews-text-swiper-wrapper">
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle1">
              поліна
            </h3>
            <p class="reviews-text" data-lang="reviews.reviewText1">
              Всім привіт! Хочу порадити вам репетитора Альону. Це найкращий
              викладач та людина, яку ви можете зустріти на своєму шляху
              вивчення англійської мови. Альона допомогла мені успішно скласти
              ЗНО та витягнула мою англійську на чудовий рівень. Це людина з
              якою не боїшся зробити помилку, сказати щось не те, тобі завжди
              комфортно. Пам’ятаю, як я вирішила витягнути свою розмову
              англійську. Спочатку я навіть не могла сказати одне речення, але
              Альона допомагала мені та робила це дуже обережно, а через місяць
              я вже могла вільно говорити. На заняттях завжди приємна та
              комфортна атмосфера, ти почуваєшся як з близькою подругою за
              кавою, тільки розмовляєш на англійській. Також варто додати, що
              Альона дуже різностороння та надихаюча особистість, у вас ніколи
              не буде такого, що не буде про що поговорити. Я впевнена, що
              Альона допоможе вам з будь-яким напрямом англійської, від
              юридичної до інженерної Альона заряджає своєю енергією, позитивом,
              креативними та сучасними підходами. Приємно бачити людину, яка
              настільки любить свою справу. Бажаю вам успіхів ❤️🫰🏻 Альона
              найкраща!
            </p>
          </li>
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle2">
              надія
            </h3>
            <p class="reviews-text" data-lang="reviews.reviewText2">
              Хочу поділитися своїм досвідом. Займаючись з Альоною, всього за
              два місяці я подолала свій мовний бар'єр, значно покращила свої
              знання, вимову та отримала офер на роботі своєї мріі. Я була
              приємно здивована, наскільки легко, інтерактивно та захопливо
              проходять уроки. Маючи досвід навчання в інших місцях, я не могла
              навіть уявити, що навчання може бути таким легким та комфортним.
              Особливо хочу відзначити Альону як особистість та професіонала,
              яка неодмінно допоможе досягнути поставленої мети. Звісно, багато
              чого залежить від власного бажання та наполегливості, але з таким
              наставником, як Альона, процес навчання перетворюється і справді в
              цікавий процес, де з кожним днем ти стаєш краще. Домашні завдання
              – це окрема любов. Альона підбирає завдання під твої інтереси, дає
              прикольні відео для просмотру. Готує круті топики для discussion.
              Є багато корисної і необхідної інформації під конкретний запит.
              Тому всім рекомендую спробувати та змінити своє життя, тому що
              англійська відкриває нові горизонти. 💖
            </p>
          </li>
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle3">ліза</h3>
            <p class="reviews-text" data-lang="reviews.reviewText3">
              Доброго дня) пишу невеличкий відгук) Метч у нас з вами як з
              викладачем відбувся в першого заняття і з того часу кожне заняття
              як на мене було все веселіше та інтенсивніше На заняттях ми не
              говоримо на банальні теми, кожен урок різний по наповненню тем і
              категорії завдань. Як жартують, що тільки мій викладач англійської
              знає мій улюблений колір та мету по життю, але це насправді
              правда) загалом я дуже рада, що потрапила до вас)
            </p>
          </li>
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle4">анна</h3>
            <p class="reviews-text" data-lang="reviews.reviewText4">
              Я займаюсь з Альоною більше трьох місяців і це три місяці і кайфу.
              Мені є чим порівнювати і мені подобається індивідуальний підхід до
              навчання. У мене був запит на підвищення рівня бізнес англійської,
              оскільки це важливо для моєї роботи: я спілкуюсь з іноземними
              клієнтами, стейкхолдерами, кандидатами. І бізнес-інлиш - It’s a
              little bit boring, а я не хотіла і мені не цікаво вчитися просто
              сухо за книгою і от кожного разу, на кожен наш урок Альона готує
              матеріали. Кожного разу ці матеріали не схожі на інші, завдяки
              цьому – це реально цікаво. Якщо це граматика – то це інтерактивна
              граматика, завдяки чому легше запам'ятовувати інформацію і
              сприймати. І дуже важливий фактор для мене, оскільки я людина, яка
              багато працює, це те, що Альона завжди на зв'язку, але пам'ятайте,
              що worklife balance – це важливо. Я знаю, що я можу написати їй,
              наприклад, перед мітом із клієнтом, якщо маю якісь консорни як
              подати інформацію, як сказати інформацію англійською і вона буде
              завжди на зв'язку. Тому однозначно рекомендую, займайтесь і
              кайфуйте!
            </p>
          </li>
          <li class="swiper-slide reviews-text-swiper-slide">
            <h3 class="reviews-title" data-lang="reviews.reviewTitle5">
              дарʼя
            </h3>
            <p class="reviews-text" data-lang="reviews.reviewText5">
              Якщо, ви переглядаєте сайт цієї чудової викладачки Альони, ви
              однозначно на вірному шляху. Мій шлях розпочався з того, що я дуже
              боялась розмовляти англійською, а вже через деякий час з допомогою
              Альони, почала вільно висловлювати свої думки. Звісно, мені треба
              ще багато часу для вдосконалення свого рівня англійської, але
              однозначно я зробила правильний вибір вчителя. Обираючи Альону, ви
              отримаєте цікаві, різноманітні, інтерактивні уроки, жодна ваша
              зустріч не буде схожа на попередню. Альона визначить ваш рівень,
              виявить ваші сильні сторони і допоможе підтягнути прогалини. Всі
              ваші побажання і забаганки будуть враховуватися, для мене, це
              завжди комфортні зустрічі. Дуже важливо, коли вчитель відчуває
              своїх учнів, і в складні моменти може змінити план уроку, задля
              комфортного спілкування зі своїм учнем. Дуже рекомендую вам
              розпочати пробне заняття, адже після першого уроку, ви захочете
              працювати над вашою англійською лише з Альоною.
            </p>
          </li>
        </ul>
        <div class="reviews-button-wrapper">
          <button class="reviews-button reviews-button-prev" type="button">
            <svg class="reviews-icon" width="24" height="24" viewBox="0 0 24 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M8 0C8 0.742 7.267 1.85 6.525 2.78C5.571 3.98 4.431 5.027 3.124 5.826C2.144 6.425 0.956 7 0 7M0 7C0.956 7 2.145 7.575 3.124 8.174C4.431 8.974 5.571 10.021 6.525 11.219C7.267 12.15 8 13.26 8 14M0 7H24" />
            </svg></button><button class="reviews-button reviews-button-next" type="button">
            <svg class="reviews-icon" width="24" height="24" viewBox="0 0 24 14" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M16 0C16 0.742 16.733 1.85 17.475 2.78C18.429 3.98 19.569 5.027 20.876 5.826C21.856 6.425 23.044 7 24 7M24 7C23.044 7 21.855 7.575 20.876 8.174C19.569 8.974 18.429 10.021 17.475 11.219C16.733 12.15 16 13.26 16 14M24 7H0" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>