<section class="section workflow">
  <div class="container">
    <h2>Як ми будемо працювати</h2>
    <div>
      <div>
        <picture>
          <source
            srcset="
              ./images/workflow/workflow-photo.webp    1x,
              ./images/workflow/workflow-photo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="./images/workflow/workflow-photo@2x.png 2x"
            type="image/png"
          />
          <img
            src="./images/workflow/workflow-photo.png"
            alt="photo desc"
            width="320"
            height="320"
          />
        </picture>
      </div>
      <div>
        <ul>
          <li>
            <h4><span>01</span> Оцінюємо</h4>
            <ul>
              <li>ваш поточний рівень</li>
              <li>ваші сильні та слабкі сторони</li>
              <li>ваші потреби</li>
            </ul>
          </li>
          <li>
            <h4><span>02</span> Ви отримуєте</h4>
            <ul>
              <li>індивідуальний план навчання з урахуванням вашого запиту</li>
              <li>необхідні онлайн-матеріали</li>
              <li>підтримку та розвиток ваших здібностей та скілів</li>
            </ul>
          </li>
          <li>
            <h4><span>03</span> Результат</h4>
            <ul>
              <li>задоволення від процесу навчання</li>
              <li>впевненість у володінні мовою</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
