<section class="section workflow">
  <div class="container">
    <h2 class="section-title">Як ми будемо працювати</h2>
    <div class="workflow-content">
      <div class="workflow-content-image">
        <picture>
          <source
            srcset="
              ./images/workflow/workflow-photo.webp    1x,
              ./images/workflow/workflow-photo@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="./images/workflow/workflow-photo@2x.png 2x"
            type="image/png"
          />
          <img
            src="./images/workflow/workflow-photo.png"
            alt="photo desc"
            width="320"
            height="320"
          />
        </picture>
      </div>
      <div class="workflow-content-list">
        <ul class="workflow-list">
          <li class="workflow-list-item">
            <h4 class="points-numbers">01</h4>
            <h5 class="points-title">Оцінюємо</h5>
            <ul class="points-list">
              <li class="points-list-item">ваш поточний рівень</li>
              <li class="points-list-item">ваші сильні та слабкі сторони</li>
              <li class="points-list-item">ваші потреби</li>
            </ul>
          </li>
          <li class="workflow-list-item">
            <h4 class="points-numbers">02</h4>
            <h5 class="points-title">Ви отримуєте</h5>
            <ul class="points-list">
              <li class="points-list-item">
                індивідуальний план навчання з урахуванням вашого запиту
              </li>
              <li class="points-list-item">необхідні онлайн-матеріали</li>
              <li class="points-list-item">
                підтримку та розвиток ваших здібностей та скілів
              </li>
            </ul>
          </li>
          <li class="workflow-list-item">
            <h4 class="points-numbers">03</h4>
            <h5 class="points-title">Результат</h5>
            <ul class="points-list">
              <li class="points-list-item">задоволення від процесу навчання</li>
              <li class="points-list-item">впевненість у володінні мовою</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
